<p class="navpath">
<%= link_to 'Servers', admin_servers_url -%>
</p>

<h1>Servers</h1>

<table class="listing">
	<tr>
		<th>Name</th>
		<th>Action</th>
	</tr>

	<%= render :partial => 'servers' %>
</table>

<div class="add">
	<p><%= link_to 'New server', new_admin_server_url %></p>
</div>
