<p class="navpath">
<%= link_to 'Users', admin_users_url -%>
</p>

<h1>Users</h1>

<table class="listing">
	<tr>
		<th>Fullname</th>
		<th>Role</th>
		<th>Username</th>
		<th>Action</th>
	</tr>

	<%= render :partial => 'users' %>
</table>

<div class="add">
	<p><%= link_to 'New user', new_admin_user_url %></p>
</div>
