<p class="navpath">
<%= link_to 'Domains', owner_domains_url -%>
</p>

<h1>Domains</h1>

<table class="listing">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Owner</th>
		<th>Created</th>
		<th>Last updated</th>
		<th>Action</th>
	</tr>

	<%= render :partial => 'domains' %>
</table>
